<!--Adding the Name Space to gain  access to the model properties -->
@model MVC_Vidily.Models.Movie
<!----------------------------------------------------------------->

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

